.DS_Store
strict-local.sh
strict-local.cloud05.sh
hosts.txt
resolv.conf
gen3/values.dev.yaml
gen3/cloud08-tls-secret.yaml
gen3/cloud08-tls-secret.old.yaml
gen3/cloud08.core.wits.ac.za.crt
gen3/cloud08.core.wits.ac.za.csr
gen3/cloud08.core.wits.ac.za.key
gen3/cloud08.core.wits.ac.za.pem
gen3/cloud05.core.wits.ac.za.pem
gen3/credentials.json
minio/private.key
minio/public.crt
gen3-sbimb.com.zip
gen3-sbimb.com/
python/venv


gen3-minio-client/.env
gen3-minio-client/.DS_Store
gen3-minio-client/venv
gen3-minio-client/output.log
gen3-minio-client/data/uploads/
gen3-minio-client/certs/
gen3-minio-client/gen3-credentials.json
gen3-minio-client/gen3-minio-credentials.json
gen3-minio-client/gen3minioclient/output.log
gen3-minio-client/gen3minioclient/output_manifest_file.tsv