.DS_Store
strict-local.sh
hosts.txt
resolv.conf
gen3/values.dev.yaml
gen3/cloud08-tls-secret.yaml
gen3/cloud08-tls-secret.old.yaml
gen3/cloud08.core.wits.ac.za.crt
gen3/cloud08.core.wits.ac.za.csr
gen3/cloud08.core.wits.ac.za.key
gen3/cloud08.core.wits.ac.za.pem
gen3/cloud05.core.wits.ac.za.pem
gen3/credentials.json
minio/private.key
minio/public.crt